<h1>SaMIS Prototype Home Page</h1>

<p>This is the prototype page for the Sales and Marketing Incentive Solution
from Optimize Consulting, LLC.</p>

<%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

